body {
    font-family: sans-serif;
    width: 80%;
    margin: 50px auto;
}

img {
    width: 15%;
}

.box {
    padding: 10px;
    background: rgb(213, 213, 213);
    border-radius: 10px;
    margin: 10px;
}

.completed {
    background: rgb(143, 255, 162);
}

input {
    margin-left: 5px;
    margin-bottom: 5px;
}